.footer {
  background: #fff;
  padding: 64px 32px;
}
.footer-content {
  margin: 0 76px;
}
.footer-content-top {
  display: flex;
}
.footer-content-col {
  border-bottom: 1px solid #dfe1e3;
  flex-grow: 1;
  width: 25%;
}
.footer-content-col-title-text {
  padding-bottom: 16px;
}
.footer-content-col-list {
  font-size: 13px;
  padding: 4px 8px;
}
.footer-content-download {
  background: #f5f6f8;
  border-radius: 8px;
  margin-right: 32px;
  min-width: 312px;
  padding: 34px 24px;
  width: 312px;
}
.footer-content-download-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfe1e3;
  padding-bottom: 24px;
}
.footer-content-download-top-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.footer-content-download-top-logo-icon {
  height: 40px;
  width: 40px;
}
.footer-content-download-top-logo-content-title {
  width: max-content;
  font-size: 13px;
  margin-bottom: 2px;
}
.footer-content-download-top-logo-content-desc {
  width: 85px;
}
.footer-content-download-top-icon {
  align-items: center;
  border: 1px solid #dfe1e3;
  border-radius: 8px;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
.footer-content-download-top-icon-svg {
  height: 24px;
  width: 24px;
}
.footer-content-download-row {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.footer-content-download-row-icon {
  height: 24px;
  margin-inline-end: 8px;
  width: 24px;
}
.footer-content-download-row-title {
  font-size: 14px;
}
.footer-content-download-download {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-top: 16px;
}
.footer-content-download-download-item {
  flex-grow: 1;
}
.footer-content-down-section {
  width: calc(50% - 172px);
}
.footer-content-down-section-title {
  font-size: 16px;
  margin-bottom: 16px;
}
.footer-content-bottom {
    align-items: center;
    display: flex;
    padding-top: 32px;
}
.footer-content-down-content {
  display: inline-flex;
  flex-direction: column;
}
.footer-content-down-section-desc {
  direction: ltr;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-content-down-section-desc-icon {
  height: 24px;
  margin-inline-end: 8px;
  width: 24px;
}
.footer-content-down-section-desc-detail {
  border-inline-start: 1px solid #dfe1e3;
  color: #757779;
  font-size: 13px;
  margin-inline-start: 16px;
  padding-inline-start: 16px;
}
.footer-content-down-section-desc {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.footer-content-down-section-desc-item {
    align-items: center;
    display: flex;
}
.footer-content-down-section-desc-icon {
    height: 24px;
    margin-inline-end: 8px;
    width: 24px;
}
.footer-content-down-section-social {
  align-items: center;
  display: flex;
  gap: 16px;
}
.footer-content-down-section-social-link {
  align-items: center;
  display: flex;
  height: 28px;
  justify-content: center;
  width: 28px;
}
.footer-content-down-section-social-link.big {
  height: auto;
  margin-inline-start: 0;
  width: 120px;
}
.footer-content-down-logos {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 8px;
  justify-content: space-between;
  margin-inline-start: 32px;
  width: 312px;
}
.footer-content-down-logos-first-second {
  object-fit: contain;
  width: 32%;
}